---
const currentYear = new Date().getFullYear();
---

<footer class="bg-background text-foreground mt-8 py-6 border-t">
  <div class="container mx-auto px-4">
    <div class="text-center">
      <p class="text-sm text-muted-foreground">
        Age of Empires IV© Microsoft Corporation. agerng.pages.dev was created under Microsoft's "Game Content Usage Rules" using assets from Age of Empires IV, and it is not endorsed by or affiliated with Microsoft.
      </p>
      <p class="mt-4 text-sm text-muted-foreground font-serif">
        {currentYear} Created by: Erfi Anugrah
      </p>
    </div>
  </div>
</footer>
